
.vs/student_information_system/xs/UserPrefs.xml
*.pb
*.dll
*.pdb
*.cache
*.txt
*.editorconfig
*.CopyComplete
*.info
*.targets
*.props
student_information_system.infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
student_information.app/obj/Debug/net6.0/apphost
student_information.app/obj/Debug/net6.0/scopedcss/bundle/student_information.app.styles.css
student_information.app/obj/Debug/net6.0/scopedcss/projectbundle/student_information.app.bundle.scp.css
student_information.app/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
student_information.app/obj/Debug/net6.0/staticwebassets.build.json
student_information.app/obj/Debug/net6.0/staticwebassets.development.json
student_information.app/obj/Debug/net6.0/student_information.app.GlobalUsings.g.cs
*.dylib
*/obj
*/bin
*/.idea.*
*.vs
*.DS_Store
*.DotSettings.user