@model IEnumerable<student_information.app.Models.StudentModels.StudentListViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<a type="button" class="btn btn-primary" asp-controller="Students" asp-action="Create">Add Student</a>
<hr class="mb-3"/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">LRN</th>
      <th scope="col">Student Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Gender</th>
      <th scope="col"></th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>View | Edit | Delete</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
       <td>View | Edit | Delete</td>
    </tr>
  </tbody>
</table>